In [50]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [51]:
#Read the data into a Pandas DataFrame
Infested_df = pd.read_csv('infestedwaters.csv',encoding="Latin-1")
Infested_df.head()

,W A T E R B O D Y N A M E,C O U N T Y O R C O U N T I E S,L I S T E D F O R A Q U A T I C I N V A S I V E S P E C I E S,Y E A R L I S T E D A S I N F E S T E D,Y E A R S P E C I E S W A S F I R S T C O N F I R M E D O R C O N N E C T E D,D O W N U M B E R
0,Aaron,Douglas,zebra mussel,2020,2020,21024200.0
1,Adley,Otter Tail,zebra mussel,2016,2016,56003100.0
2,Agnes,Douglas,zebra mussel,2022,connected to Henry (21-0051),21005300.0
3,Alexander,Morrison,Eurasian watermilfoil,2004,2003,49007900.0
4,Alexander,Morrison,zebra mussel,2019,2019,49007900.0

In [52]:
Infested_df.columns

Index([' W A T E R B O D Y N A M E', ' C O U N T Y O R C O U N T I E S',
       ' L I S T E D F O R A Q U A T I C I N V A S I V E S P E C I E S',
       ' Y E A R L I S T E D A S I N F E S T E D',
       ' Y E A R S P E C I E S W A S F I R S T C O N F I R M E D O R C O N N E C T E D',
       ' D O W N U M B E R'],
      dtype='object')

In [53]:
Rename_df = Infested_df.rename(columns={' W A T E R B O D Y N A M E': 'WaterBody',' C O U N T Y O R C O U N T I E S':'Counties',' L I S T E D F O R A Q U A T I C I N V A S I V E S P E C I E S':'List of Aquatic Invasive Species',' Y E A R L I S T E D A S I N F E S T E D':'Year Listed Infested'})
Rename_df

,WaterBody,Counties,List of Aquatic Invasive Species,Year Listed Infested,Y E A R S P E C I E S W A S F I R S T C O N F I R M E D O R C O N N E C T E D,D O W N U M B E R
0,Aaron,Douglas,zebra mussel,2020,2020,21024200.0
1,Adley,Otter Tail,zebra mussel,2016,2016,56003100.0
2,Agnes,Douglas,zebra mussel,2022,connected to Henry (21-0051),21005300.0
3,Alexander,Morrison,Eurasian watermilfoil,2004,2003,49007900.0
4,Alexander,Morrison,zebra mussel,2019,2019,49007900.0
...,...,...,...,...,...,...
1601,Wright,Otter Tail,zebra mussel,2017,2017,56078300.0
1602,Zumbra,Carver,Eurasian watermilfoil,1995,1989,10004100.0
1603,Zumbro,Olmsted,zebra mussel,2000,2000,55000400.0
1604,Zumbro River downstream of Zumbro including 500 feet upstream into its tributaries,Wabasha,zebra mussel,2000,2000,NaN
1605,Zumwalde,Stearns,zebra mussel,2018,connected by the Sauk River between Sauk (77-0150) and Becker (73-0156),73008900.0

In [54]:
Rename_df.drop(Rename_df.columns[[4,5]], axis=1, inplace=True)
Rename_df

,WaterBody,Counties,List of Aquatic Invasive Species,Year Listed Infested
0,Aaron,Douglas,zebra mussel,2020
1,Adley,Otter Tail,zebra mussel,2016
2,Agnes,Douglas,zebra mussel,2022
3,Alexander,Morrison,Eurasian watermilfoil,2004
4,Alexander,Morrison,zebra mussel,2019
...,...,...,...,...
1601,Wright,Otter Tail,zebra mussel,2017
1602,Zumbra,Carver,Eurasian watermilfoil,1995
1603,Zumbro,Olmsted,zebra mussel,2000
1604,Zumbro River downstream of Zumbro including 500 feet upstream into its tributaries,Wabasha,zebra mussel,2000
1605,Zumwalde,Stearns,zebra mussel,2018

In [55]:
# Get a brief summary of the Infested_df DataFrame.
Rename_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1606 entries, 0 to 1605
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WaterBody                         1606 non-null   object
 1   Counties                          1606 non-null   object
 2   List of Aquatic Invasive Species  1606 non-null   object
 3   Year Listed Infested              1606 non-null   int64
dtypes: int64(1), object(3)
memory usage: 50.3+ KB

In [58]:
# Finding missing values columnwise
Rename_df.isnull().sum()

WaterBody                           0
Counties                            0
List of Aquatic Invasive Species    0
Year Listed Infested                0
dtype: int64

In [59]:
Cleaned_df = Rename_df.to_csv('newinfestedwaters.csv')
Cleaned_df